$white: #ffff;
$black: #000;
$creme: #F5EDD8;
$tumbleweed: #E5A484;
$red: #8D3126;
$foret: #354e38;
$sable: #E7C762;

$theme-colors: (
    "light":      #E7C762,
    "dark":       #354E38,
    "primary":    #8D3126,
    "secondary":  #E5A484,
    "info":       #d957db,
    "success":    #1db26c,
    "warning":    #e5d01b,
    "danger":     #f5260d,
);
//@import "../vendors/bootstrap-5.2.3/scss/bootstrap.scss"

$titre: ("Podium Soft");

$texte: ("Noto Sans Tamil");



