$white: #ffffff;

$theme-colors: (
    "light":      #E7C762,
    "dark":       #354E38,
    "primary":    #8D3126,
    "secondary":  #E5A484,
    "info":       #d957db,
    "success":    #1db26c,
    "warning":    #e5d01b,
    "danger":     #f5260d,
);
//@import "../vendors/bootstrap-5.2.3/scss/bootstrap.scss"

$titre: ("Podium Soft");

$texte: ("Noto Sans Tamil");

