/*--------------------------- FONT -------------------------------*/
@font-face {
  font-family:"pacifico";
  src:url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }

@font-face {
  font-family:"rubik";
  src:url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}
/* ----------------- SECTION PAGE ACCUEIL ----------------------- */
html{
  height: 2500px;
  min-width: 375px !important;
  width: 100%;
  position: relative;
  background-color: #354E38;
}

body {
  background-color: #354E38;
  font-family: system-ui;
  font-size: 15px;
  height: 100%;
  min-width: 375px;
  position: relative;
}

.navbar{
  border-bottom: 1px solid #e7c762;
  background-color: #354E38;
}
.ignorez{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
}

main{
  height: 100%;
  position: relative;
  width: 100%;
}

.logo {
  max-width: 80px;
}
.container-fluid {
  padding: 12px !important; 
}
.navbar-toggler {
  background-color: #e7c762 !important;

}
/*
.ligne-deco{
  width: 100% !important ; 
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}
*/
#btn-don{
  right: 0px;
  position: relative;
  padding: 5px 10px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #F5EDD8;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #E7C762;
  text-decoration: underline;
}
  

/* ----------------- SECTION HERO ----------------------- */
#hero {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #354E38;
}

.collectif{
  background: #e7c762;
  border-radius: 10px;
  
}

.swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 5px solid #e7c762;
}

.swiper-slide img {
  width: 100%;
  height: 100%;

  aspect-ratio: 5/4;
  object-fit: cover;
}
.swiper-button-next::after,
.swiper-button-prev::after {

  font-size: 50px;
  font-weight: bold;
}


.swiper-pagination-bullet {
  scale: 2;
}

.hero-titre-2 {
  font-family: 'pacifico';
  color: #e7c762;
  font-size:calc(20px + 5vh);
  padding: 0px;
  margin: 0px;
}
.hero-titre-1,
.hero-titre-3 {
  font-family: 'rubik';
  color: #f5edd8;
  font-size:calc(15px + 3vh);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.hero-titre-4 {
  font-family: 'rubik';
  color: #f5edd8;
  font-weight: normal;
  font-size:calc(5px + 1vh);
}
.hero-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #e7c762;
  box-shadow: 5px 5px 10px 2px #000;
  font-family: 'rubik';
  color: #f5edd8;
  max-width: 230px;

}
.hero-btn:hover{
  background-color: #e7c762;
  color: #000;}





/* ----------------- SECTION PAGE NOUVELLE ---------------------- */

/* ----------------- SECTION PAGE SERVICE ----------------------- */

 

/* ----------------- SECTION PAGE EQUIPE ------------------------ */

/* ----------------- SECTION PAGE HISTOIRE ---------------------- */

/* ----------------- SECTION PAGE PROPOS ------------------------ */

/* ----------------- SECTION BANNER X ------------------------ */
.banner{
  background-color: #121a12;
  
}

.banner__content{
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner__text{
color:#ffffff;
flex-grow: 1;
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__close .material-icons {
 color:#ffffff;
}