@use "variables";

/*--------------------------- FONT -------------------------------*/
@font-face {
  font-family: "pacifico";
  src: url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "rubik";
  src: url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "rubik-light";
  src: url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

html {
  height: 2500px;
  min-width: 375px !important;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: variables.$foret;
}
body {
  background-color: variables.$foret;
  font-family: "rubik";
  font-size: 15px;
  height: 100%;
  min-width: 375px;
  position: relative;
}
main {
  position: relative;
  width: 100%;
}
h5 {
  color: variables.$creme;
  font-size: 30px;
  text-align: center;
}

h6 {
  color: variables.$foret;
  font-size: 20px;

  font-weight: 600;
}

.none {
  display: none !important;
}

.description_generique {
  width: 100vw;
  background-color: variables.$red;
  border: 1px solid variables.$sable;
  color: variables.$creme;
  font-size: 15px;
}
/* ----------------- SECTION PAGE ACCUEIL ----------------------- */

.ignorez {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 88px;
}
.navbar {
  border-bottom: 1px solid #e7c762;
  background-color: variables.$foret;
}
.logo {
  max-width: 80px;
}
.container-fluid {
  padding: 12px !important;
}
.navbar-toggler {
  background-color: variables.$sable !important;
}
#btn-don {
  right: 0px;
  position: relative;
  padding: 5px 10px;
  border: none;
  background-color: variables.$sable;
  color: variables.$white;
  font-size: 16px;
  &:hover {
    border: 2px solid variables.$sable;
    background-color: variables.$foret;
  }
}
.navbar-nav {
  text-align: end;
  .nav-item {
    display: flex;
    align-items: center;
    text-align: center;
    .nav-link {
      text-align: center;
    }
  }
}
.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: variables.$creme;
      &:hover {
        color: variables.$sable;
        text-decoration: underline;
      }
    }
  }
}

.section__titre {
  color: variables.$creme;
  font-weight: bolder;
  font-size: 40px;
  transform: translateY(-75px);
  text-align: center;
}
/* ----------------- SECTION BANNER X ------------------------ */
.banner {
  background-color: variables.$red;
  z-index: 2;
  position: fixed;
  width: 100%;
  z-index: 1029;
}
.banner__content {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}
.banner__text {
  color: variables.$creme;
  flex-grow: 1;
  text-align: center;
}
.banner__close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  .material-icons {
    color: variables.$sable;
    font-weight: 900;
  }
}

/* ----------------- SECTION HERO ----------------------- */

#hero {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: variables.$foret;
}
.collectif {
  background: variables.$sable;
  border-radius: 10px;
}
.swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px variables.$black;
}
.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
  }
}
.swiper-button-next {
  &::after {
    font-size: 50px;
    font-weight: bold;
  }
  color: variables.$creme;
}
.swiper-button-prev {
  &::after {
    font-size: 50px;
    font-weight: bold;
  }
  color: variables.$creme;
}
.swiper-pagination-bullet {
  scale: 2;
  background-color: variables.$creme;
}
.hero-titre-2 {
  font-family: "pacifico";
  color: variables.$sable;
  font-size: calc(20px + 5vh);
  padding: 0px;
  margin: 0px;
}
.hero-titre-1 {
  font-family: "rubik";
  color: variables.$creme;
  font-size: calc(15px + 3vh);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.hero-titre-3 {
  font-family: "rubik";
  color: variables.$creme;
  font-size: calc(15px + 3vh);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.hero-titre-4 {
  font-family: "rubik";
  color: variables.$creme;
  font-weight: normal;
  font-size: calc(5px + 1vh);
}
.hero-btn {
  background-color: variables.$foret;
  border: 2px solid variables.$sable;
  box-shadow: 5px 5px 10px 2px variables.$black;
  font-family: "rubik";
  color: variables.$creme;
  max-width: 230px;
  &:hover {
    background-color: variables.$sable;
    color: variables.$black;
  }
}
/* ----------------- SECTION index NOUVELLE ---------------------- */

.nouvelle {
  &__logo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__carte {
    background-color: variables.$creme;
    border-radius: 15px;
    height: 150px;
    max-width: 600px;

    @media (min-width: 1199px) {
      max-width: 300px;
    }
    @media (min-width: 1600px) {
      max-width: 400px;
    }
    @media (min-width: 1800px) {
      max-width: 500px;
    }
    @media (min-width: 2100px) {
      max-width: 600px;
    }

    &:hover {
      background-color: variables.$sable;
      div {
        h6 {
          color: variables.$creme;
        }
        p {
          color: variables.$creme;
        }
        i {
          color: variables.$creme;
        }
      }
    }
    i {
      color: variables.$foret;
    }
    div {
      p {
        color: variables.$foret;
        margin-bottom: 0px;
      }
    }
  }
}

/* ----------------- SECTION PAGE NOUVELLE ---------------------- */

.nouvelles__container {
  background-color: variables.$foret;
  font-family: "rubik";
}

.nouvelles__cards {
  background-color: variables.$creme;
  color-scheme: variables.$foret;
  font-family: "rubik";
  padding-left: 20px;
  &:hover {
    background-color: variables.$sable;
  }
  border-radius: 15px;
}
.cards__title {
  font-weight: bolder;
}
.nouvelles__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/hub_nouvelles_articles/hero-groupe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nouvelles__hero-title {
  font-family: "rubik";
  color: #f5edd8;
  font-size: calc(15px + 3vh);
  font-weight: bold;
  position: absolute;
  top: 200px;
  padding-left: 10vw;
}
.nouvelles__hero-img {
  width: 100%;
}
.nouvelles__card__container {
  display: flex;
}
.nouvelles__card-frame {
  width: 150px;
  height: 150px;
  background-color: #8d3126;
}

.nouvelle__card-list {
  width: 45vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.nouvelle_card {
  width: 45vw;
  min-width: 263px;
  max-width: 304px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f5edd8;
  border-radius: 18px;
  justify-content: space-between;
  color: #354e38;
  transition: background-color 200ms ease-in-out;
}

.top-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
}

.middle-up-row {
  font-size: 1em;
}

.middle-down-row {
  font-size: 0.7em;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
}

.icone {
  width: 1.5em;
  position: relative;
  top: 5px;
}

.un:hover {
  background-color: #e7c762;
}

.deux:hover {
  background-color: #e7c762;
}

.trois:hover {
  background-color: #e7c762;
}

.quattre:hover {
  background-color: #e7c762;
}

/* ----------------- SECTION index TÉMOIGNAGE ---------------------- */
.testimonials {
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px 7px 0px #182c1a;
  background: linear-gradient(to bottom, #8d3126 70px, transparent 0%);
}

.temoignage {
  text-align: center;

  box-sizing: border-box;

  &__personne {
    margin: 0px;

    &:hover {
      .card {
        background-color: variables.$sable;
        transform: scale(1.02);
        transition: 0.3s;
      }
    }
  }

  div {
    div {
      div {
        div {
          .card-text {
            font-weight: 200;
          }
        }
      }
    }
  }
}

.people {
  width: 30rem;
  box-shadow: 5px 5px 5px 0px #484848;
}

.card-body-temoignage-index {
  color: variables.$red;
  font-family: "rubik-light";
  max-width: 800px;

  .card-text {
    font-size: 20px;
  }
  .description {
    font-size: 20px;
    color: variables.$black;
    font-weight: 200;
    text-align: left;
  }
  .card-title {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    font-family: "rubik";
  }
}

.carte {
  border: none;
}

.quote {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 50px;
  color: variables.$sable;
}

.card {
  background-color: variables.$red;
  box-shadow: 5px 5px 10px 0px #383838;
}

.section-testimonials .card {
  background-color: variables.$creme;
  border-radius: 20px;
  transition: 0.3s;
}
.card-img-top {
  border-radius: 20px 20px 0px 0px;
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

/* ----------------- SECTION PAGE SERVICE ----------------------- */
.section__services {
  width: 100%;
  background-color: variables.$foret;
  margin-bottom: 30vh;
}

.services {
  text-align: center;
  background: linear-gradient(to bottom, variables.$red 70px, transparent 0%);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px 7px 0px #182c1a;

  &____container {
    color: variables.$black;
    font-family: "rubik";
    width: 90%;
    width: 100%;
    height: 100%;
  }
  &__logo {
    background-color: variables.$sable;
    width: 80px;
    padding: 15px;
    border-radius: 40%;
  }
  &__container {
    p {
      text-align: center;
      color: variables.$white;
    }
  }
}
/*Changer la classe ici pour autre chose*/
.section__services2 {
  display: grid;
  gap: 10px;
}

.service__card__img {
  object-fit: fill;
}

.service__all_cards {
  text-align: center;
  border-radius: 10%;

  background-color: #182c1a;
}

.service__card__title {
  color: variables.$creme;
  font-family: "rubik";
}

.service__card__text {
  color: variables.$white;
  font-family: "rubik";
}

.service__btn {
  color: variables.$red;
}

.service__btn:hover {
  color: variables.$sable;
}

.service_acueil {
  background-image: url(../assets/img/couverturesitewebalt_2800x.png);
  font-family: "rubik";
  font-weight: bold;

  position: relative;
  display: block;
  top: 40px;
}

/* ----------------- SECTION PAGE HISTOIRE ---------------------- */
@media (min-width: 992px) {
  .navbar-expand-lg {
    .navbar-nav {
      width: 100%;
    }
  }
}

.timeline {
  display: block;
  position: relative;
  left: -40%;
  top: 100px;
  width: 2px;
  background: #ffffff00;
  margin: 20px auto;
  height: 100%;

  .events {
    position: relative;
    top: 0;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .event {
      position: relative;
      width: 80vw;
      display: block;
      opacity: 0;
      padding: 10px;
      background-image: linear-gradient(
        to bottom right,
        variables.$creme,
        variables.$foret,
        variables.$foret,
        variables.$foret,
        variables.$foret
      );
      border: 5px solid variables.$creme;
      border-radius: 5px;
      margin: 30px 10px;
      box-shadow: 30px 30px 6px rgba(255, 255, 255, 0.219);

      &_titre {
        color: variables.$foret;
      }

      &_texte {
        color: variables.$creme;
      }

      &_image {
        width: 60vw;
        position: absolute;
        bottom: 25px;
        right: 50px;
      }
    }
  }
}

.line {
  width: 5px;
  height: 0;
  background-color: variables.$creme;
  position: fixed;
  top: 100px;
  left: 5%;
  transition: height 0.3s;
}

.histoire__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/histoire/paysage_histoire.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* ----------------- SECTION PAGE EQUIPE ------------------------ */

.equipe__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/equipe/hero_equipe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.equipe {
  &__title {
    display: block;
    position: relative;
    top: 20px;
    color: variables.$creme;
    font-family: "rubik";
    font-weight: bold;
  }

  &_card {
    background-color: variables.$creme;
    padding: 5px;

    &:hover {
      background-color: variables.$sable;
    }
  }

  &_img {
    border: 10px solid variables.$foret;
    border-radius: 0%;
    padding: 10px;
  }
}

a.equipe_href {
  text-decoration: none;
  border-radius: 15px;
  color: variables.$foret;
}

.equipe_modal {
  background-color: variables.$foret;

  &_img_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_img {
    width: 100%;
    max-width: 50vw;
    border-radius: 40%;
  }

  &_titre {
    color: variables.$sable;
  }

  &_texte {
    color: variables.$sable;
  }

  &_bouton {
    color: variables.$creme;
    background-color: variables.$tumbleweed;

    &:hover {
      color: variables.$tumbleweed;
      background-color: variables.$creme;
    }
  }
}
/* ----------------- SECTION PAGE PROPOS ------------------------ */

.propos {
  &__section {
    background-color: variables.$foret;
  }

  &__title {
    display: block;
    position: relative;
    top: 40px;
    color: variables.$creme;
    font-family: "rubik";
    font-weight: bold;
  }

  &__text {
    color: variables.$red;
    font-family: "rubik";
  }
}

div.accordion-item {
  color: variables.$creme;
  background-color: variables.$foret;
}

.accordion {
  position: relative;

  &-button {
    color: variables.$red !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(141 49 38 / 42%);
    background-color: variables.$sable;
  }
}

.accordion-button:not(.collapsed) {
  background-color: variables.$sable;
}

.propos__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/a_propos/hero_fleurs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*---------------------------PAGE ERREUR 404---------------------- */
.contenu_erreur {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.erreur__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/erreur_404/montagne_vide_erreur.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.erreur.body {
  height: 100%;
}

.message-erreur {
  width: 77vw;
  position: relative;
  top: 100px;
  display: flex-wrap;
  align-items: center;
  justify-content: center;
}
.erreur-titre {
  color: variables.$sable;
  font-weight: bolder;
  text-transform: uppercase;
}
.erreur-description {
  color: variables.$creme;
}
@media screen and (max-width: 375px) {
  .fleche {
    width: 300px;
    z-index: 1;

    &.rouge {
      position: absolute;
      top: 3vh;
      left: -8vw;
    }

    &.jaune {
      position: absolute;
      top: 3vh;
      left: -10vw;
    }

    &.vert {
      position: absolute;
      top: 3vh;
      left: -12vw;
    }
  }
}

@media screen and (min-width: 376px) {
  .fleche {
    width: 300px;
    z-index: 1;

    &.rouge {
      position: absolute;
      top: 2vh;
      left: -6vw;
    }

    &.jaune {
      position: absolute;
      top: 2vh;
      left: -5vw;
    }

    &.vert {
      position: absolute;
      top: 2vh;
      left: -7vw;
    }
  }
}

@media screen and (min-width: 1200px) {
  .fleche {
    width: 300px;
    z-index: 1;

    &.rouge {
      position: absolute;
      top: 0vh;
      left: -4vw;
    }

    &.jaune {
      position: absolute;
      top: 0vh;
      left: -3vw;
    }

    &.vert {
      position: absolute;
      top: 0vh;
      left: -2vw;
    }
  }
}
/*-----------------------Footer----------------------------------*/

.section__footer {
  width: 100%;
  position: relative;
}
.grid {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
}
.logo-block {
  width: 300px;
  height: 300px;
  margin: 15px;
  background-color: variables.$foret;
  order: 0;
}
.date-block {
  background-color: variables.$foret;
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  order: 2;
}
.nomequipe {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.credit-block {
  width: 300px;
  height: 300px;
  background: variables.$red;
  background: linear-gradient(
    0deg,
    variables.$foret 0%,
    variables.$sable 0%,
    variables.$red 72%
  );
  margin: 15px;
  font-weight: bold;
  text-align: center;
  background-image: url("https://i.imgur.com/YqnzhVK.png");
  background-position: center;
  background-size: cover;
  order: 1;
}
.lelogo {
  width: 300px;
  position: absolute;
  object-fit: cover;
}
footer {
  border: 5px solid variables.$sable;
  border-bottom: none;
  border-radius: 15px;
  bottom: 0px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: variables.$foret;

  a {
    text-decoration: none;

    &:hover {
      color: variables.$sable;
    }
  }
}
.section {
  color: variables.$creme;
  font-weight: 100;
}

.section__icon {
  font-size: 20px;
}

.footer__btn {
  position: relative;
  border: 2px solid variables.$sable;
  background-color: variables.$sable;
  color: variables.$white;
  font-size: 40px;
  aspect-ratio: 16/1;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;

  &:hover {
    border: 2px solid variables.$sable;
    background-color: variables.$foret;
  }

  i {
    width: 100%;
  }
}

.sociaux {
  width: 100%;
}

.adresse {
  color: variables.$creme;
  text-decoration: none;
  &:hover {
    color: variables.$white;
  }
}
.telephone {
  color: variables.$creme;
}

.reseaux_footer {
  color: variables.$sable;
  margin: 5px;
  text-decoration: none;
  &:hover {
    color: variables.$white;
  }
}
.footer__logo {
  width: 100%;
}
.footer_sous_texte {
  color: variables.$sable;
  &:hover {
    color: variables.$white;
  }
}
.credit {
  position: relative;
  color: variables.$white !important;
}
.sponsor-colonne {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0;
  padding: 0;
}
.ligne-design {
  background-color: variables.$red;
  width: 80vw;
  height: 0.1vh;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
}
.sponsor {
  filter: opacity(0.8);
  transition: 200ms linear;
  &:hover {
    transform: scale(2);
    filter: opacity(1);
  }
}
@media only screen and (max-width: 650px) {
  .logo-block {
    width: 300px;
    height: 300px;
    margin: 15px;
    background-color: variables.$foret;
    order: 0;
  }
  .date-block {
    background-color: variables.$creme;
    width: 300px;
    height: fit-content;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    order: 1;
  }

  .credit-block {
    width: 300px;
    height: fit-content;
    background: #8d3126;
    background: linear-gradient(
      0deg,
      variables.$red 0%,
      variables.$sable 0%,
      variables.$red 72%
    );
    margin: 15px;
    font-weight: bold;
    text-align: center;
    background-image: url("https://i.imgur.com/YqnzhVK.png");
    background-position: center;
    background-size: cover;
    order: 2;
  }
  .grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
