/*--------------------------- FONT -------------------------------*/
@font-face {
  font-family:"pacifico";
  src:url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }

@font-face {
  font-family:"rubik";
  src:url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}
/* ----------------- SECTION PAGE ACCUEIL ----------------------- */
html{
  height: 2500px;
  min-width: 375px !important;
  width: 100%;
  position: relative;
  background-color: #354E38;
}

body {
  background-color: #354E38;
  font-family: system-ui;
  font-size: 15px;
  height: 100%;
  min-width: 375px;
  position: relative;
}

.navbar{
  border-bottom: 1px solid #e7c762;
  background-color: #354E38;
}
.ignorez{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
}

main{
  height: 100%;
  position: relative;
  width: 100%;
}

.logo {
  max-width: 80px;
}
.container-fluid {
  padding: 12px !important; 
}
.navbar-toggler {
  background-color: #e7c762 !important;

}
/*
.ligne-deco{
  width: 100% !important ; 
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}
*/
#btn-don{
  right: 0px;
  position: relative;
  padding: 5px 10px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #F5EDD8;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #E7C762;
  text-decoration: underline;
}
  

/* ----------------- SECTION HERO ----------------------- */
#hero {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #354E38;
}

.collectif{
  background: #e7c762;
  border-radius: 10px;
  
}

.swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 5px solid #e7c762;
}

.swiper-slide img {
  width: 100%;
  height: 100%;

  aspect-ratio: 5/4;
  object-fit: cover;
}
.swiper-button-next::after,
.swiper-button-prev::after {

  font-size: 50px;
  font-weight: bold;
}


.swiper-pagination-bullet {
  scale: 2;
}

.hero-titre-2 {
  font-family: 'pacifico';
  color: #e7c762;
  font-size:calc(20px + 5vh);
  padding: 0px;
  margin: 0px;
}
.hero-titre-1,
.hero-titre-3 {
  font-family: 'rubik';
  color: #f5edd8;
  font-size:calc(15px + 3vh);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.hero-titre-4 {
  font-family: 'rubik';
  color: #f5edd8;
  font-weight: normal;
  font-size:calc(5px + 1vh);
}
.hero-btn {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #e7c762;
  box-shadow: 5px 5px 10px 2px #000;
  font-family: 'rubik';
  color: #f5edd8;
  max-width: 230px;

}
.hero-btn:hover{
  background-color: #e7c762;
  color: #000;
}

/*---------------------------------------------------------*/
.grid {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
}

.logo-block {
  width: 300px;
  height: 300px;
  margin: 15px;
  background-color: #ffffff;
  order: 0;
}

.date-block {
  background-color: #8D3126;
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  order: 2;
}

.nomequipe {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.credit-block {
  width: 300px;
  height: 300px;
  background: #8d3126;
  background: linear-gradient(0deg, #8d3126 0%, #e7c762 0%, #8d3126 72%);
  margin: 15px;
  font-weight: bold;
  text-align: center;
  background-image: url("https://i.imgur.com/YqnzhVK.png");
  background-position: center;
  background-size: cover;
  order: 1;
}

.lelogo {
  width: 300px;
  position: absolute;
  object-fit: cover;
}

@media only screen and (max-width: 650px) {
  .logo-block {
    width: 300px;
    height: 300px;
    margin: 15px;
    background-color: #ffffff;
    order: 0;
  }

  .date-block {
    background-color: #8D3126;
    width: 300px;
    height: fit-content;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    order: 1;
  }

  .credit-block {
    width: 300px;
    height: fit-content;
    background: #8d3126;
    background: linear-gradient(0deg, #8d3126 0%, #e7c762 0%, #8d3126 72%);
    margin: 15px;
    font-weight: bold;
    text-align: center;
    background-image: url("https://i.imgur.com/YqnzhVK.png");
    background-position: center;
    background-size: cover;
    order: 2;
  }

  .grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

footer{
  background-color: none;
  border: 5px solid #e7c762;
  border-bottom: none;
  border-radius: 15px;
  bottom: 0px;
  position: relative;
  width: 100%;
  height: auto;
  
}

.section {
  color: #f5edd8;
  font-weight: 100;
}

.adresse {
  color: #e2c15f;
  text-decoration: none;
}

.adresse:hover {
  color: #f5edd8;
}

.telephone{
  color:#e2c15f;
}

.logo.footer{
  width:100px;
}

.reseaux_footer{
  color: #e7c762;
  margin:5px;
  text-decoration: none;
}

.reseaux_footer:hover{
  color: #f5edd8;
}

.footer_sous_texte{
  color: #e7c762;
}

.footer_sous_texte:hover{
  color: #f5edd8;
}

.credit{
  position: absolute;
  color: #f5edd8 !important;
  bottom:0;
  right:5vw;
}

.sponsor-colonne{
width:100%;
display: flex;
flex-wrap: wrap;
align-content: space-between;
margin:0;
padding:0;
}


.ligne-design{
  background-color: #f5edd8;
  width:80vw;
  height:0.1vh;
  margin:25px;
  margin-left:auto;
  margin-right: auto;
}

.sponsor{
  filter: blur(1px);
}

.sponsor:hover{
  filter: blur(0px);
}




/* ----------------- SECTION PAGE NOUVELLE ---------------------- */

/* ----------------- SECTION PAGE SERVICE ----------------------- */

 

/* ----------------- SECTION PAGE EQUIPE ------------------------ */

/* ----------------- SECTION PAGE HISTOIRE ---------------------- */

/* ----------------- SECTION PAGE PROPOS ------------------------ */

/*---------------------------PAGE ERREUR 404---------------------- */
.contenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url("/sources/medias/erreur_404/montagne_vide_erreur.jpg");
  background-repeat: no-repeat;
  background-size: cover;


}

.message-erreur{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 50%;
  width: 50%;
  flex-direction: column;

}
.erreur-titre{
  display: flex;
  color: #e7c762;
  font-weight: bolder;
  text-transform: uppercase;
}
.erreur-description{
  display: flex;
  color: #f5edd8;
  font-size: 1rem;
  text-align: center;
}

/* ----------------- SECTION BANNER X ------------------------ */
.banner{
  background-color: #121a12;
  
}

.banner__content{
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner__text{
color:#ffffff;
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__close .material-icons {
 color:#ffffff;
}