@charset "UTF-8";
/*--------------------------- FONT -------------------------------*/
@font-face {
  font-family: "pacifico";
  src: url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/5f850c/00000000000000003b9b136f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "rubik";
  src: url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: "rubik-light";
  src: url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/8e7336/0000000000000000774ed06c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}
html {
  height: 2500px;
  min-width: 375px !important;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #354e38;
  overflow-x: hidden;
}

body {
  background-color: #354e38;
  font-family: "rubik";
  font-size: 15px;
  height: 100%;
  min-width: 375px;
  position: relative;
}

main {
  position: relative;
  width: 100%;
}

h5 {
  color: #F5EDD8;
  font-size: 30px;
  text-align: center;
}

h6 {
  color: #354e38;
  font-size: 20px;
  font-weight: 600;
}

.none {
  display: none !important;
}

.description_generique {
  width: 100vw;
  background-color: #8D3126;
  border: 1px solid #E7C762;
  color: #F5EDD8;
  font-size: 15px;
}

/* ----------------- SECTION PAGE ACCUEIL ----------------------- */
.ignorez {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 88px;
}

.navbar {
  border-bottom: 1px solid #e7c762;
  background-color: #354e38;
}

.logo {
  max-width: 80px;
}

.container-fluid {
  padding: 12px !important;
}

.navbar-toggler {
  background-color: #E7C762 !important;
}

#btn-don {
  right: 0px;
  position: relative;
  padding: 5px 10px;
  border: none;
  background-color: #E7C762;
  color: white;
  font-size: 16px;
}
#btn-don:hover {
  border: 2px solid #E7C762;
  background-color: #354e38;
}

.navbar-nav {
  text-align: end;
}
.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.navbar-nav .nav-item .nav-link {
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: #F5EDD8;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #E7C762;
  text-decoration: underline;
}

.menu:hover {
  background-color: #354e38 !important;
  border: 1px solid #E7C762;
}

.section__titre {
  color: #F5EDD8;
  font-weight: bolder;
  font-size: 40px;
  transform: translateY(-75px);
  text-align: center;
}

/* ----------------- SECTION BANNER X ------------------------ */
.banner {
  background-color: #8D3126;
  z-index: 2;
  position: fixed;
  width: 100%;
  z-index: 1029;
}

.banner__content {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.banner__text {
  color: #F5EDD8;
  flex-grow: 1;
  text-align: center;
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.banner__close .material-icons {
  color: #E7C762;
  font-weight: 900;
}

/* ----------------- SECTION HERO ----------------------- */
#hero {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #354e38;
}

.collectif {
  background: #E7C762;
  border-radius: 10px;
}

.swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px #000;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  aspect-ratio: 5/4;
  object-fit: cover;
}

.swiper-button-next {
  color: #F5EDD8;
}
.swiper-button-next::after {
  font-size: 50px;
  font-weight: bold;
}

.swiper-button-prev {
  color: #F5EDD8;
}
.swiper-button-prev::after {
  font-size: 50px;
  font-weight: bold;
}

.swiper-pagination-bullet {
  scale: 2;
  background-color: #F5EDD8;
}

.hero-titre-2 {
  font-family: "pacifico";
  color: #E7C762;
  font-size: calc(20px + 5vh);
  padding: 0px;
  margin: 0px;
}

.hero-titre-1 {
  font-family: "rubik";
  color: #F5EDD8;
  font-size: calc(15px + 3vh);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.hero-titre-3 {
  font-family: "rubik";
  color: #F5EDD8;
  font-size: calc(15px + 3vh);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.hero-titre-4 {
  font-family: "rubik";
  color: #F5EDD8;
  font-weight: normal;
  font-size: calc(5px + 1vh);
}

.hero-btn {
  background-color: #354e38;
  border: 2px solid #E7C762;
  box-shadow: 5px 5px 10px 2px #000;
  font-family: "rubik";
  color: #F5EDD8;
  max-width: 230px;
}
.hero-btn:hover {
  background-color: #E7C762;
  color: #000;
}

/* ----------------- SECTION index NOUVELLE ---------------------- */
.nouvelle__logo {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nouvelle__carte {
  background-color: #F5EDD8;
  border-radius: 15px;
  height: 150px;
  max-width: 600px;
}
@media (min-width: 1199px) {
  .nouvelle__carte {
    max-width: 300px;
  }
}
@media (min-width: 1600px) {
  .nouvelle__carte {
    max-width: 400px;
  }
}
@media (min-width: 1800px) {
  .nouvelle__carte {
    max-width: 500px;
  }
}
@media (min-width: 2100px) {
  .nouvelle__carte {
    max-width: 600px;
  }
}
.nouvelle__carte:hover {
  background-color: #E7C762;
}
.nouvelle__carte:hover div h6 {
  color: #F5EDD8;
}
.nouvelle__carte:hover div p {
  color: #F5EDD8;
}
.nouvelle__carte:hover div i {
  color: #F5EDD8;
}
.nouvelle__carte i {
  color: #354e38;
}
.nouvelle__carte div p {
  color: #354e38;
  margin-bottom: 0px;
}

.services__container #voirPlusButton {
  border-radius: 20px;
  color: #F5EDD8;
  background-color: #8D3126;
  height: 40px;
  padding: 0px;
  font-size: 18px !important;
}
.services__container #voirPlusButton:hover {
  background-color: #E7C762;
}

.disabled {
  background-color: transparent !important;
}

/* ----------------- SECTION PAGE NOUVELLE ---------------------- */
a.nouvelle_link {
  text-decoration: none;
}

.nouvelles__container {
  background-color: #354e38;
  font-family: "rubik";
}

.nouvelles__cards {
  background-color: #F5EDD8;
  color-scheme: #354e38;
  font-family: "rubik";
  padding-left: 20px;
  border-radius: 15px;
}
.nouvelles__cards:hover {
  background-color: #E7C762;
}

.cards__title {
  font-weight: bolder;
}

.nouvelles__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/hub_nouvelles_articles/hero-groupe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nouvelles__hero-title {
  font-family: "rubik";
  color: #f5edd8;
  font-size: calc(15px + 3vh);
  font-weight: bold;
  position: absolute;
  top: 200px;
  padding-left: 10vw;
}

.nouvelles__hero-img {
  width: 100%;
}

.nouvelles__card__container {
  display: flex;
}

.nouvelles__card-frame {
  width: 150px;
  height: 150px;
  background-color: #8d3126;
}

.nouvelle__card-list {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
  row-gap: 10px;
  column-gap: 25px;
  padding: 15px;
}

.nouvelle_card {
  width: 45vw;
  min-width: 263px;
  max-width: 304px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f5edd8;
  border-radius: 18px;
  justify-content: space-between;
  color: #354e38;
  transition: background-color 200ms ease-in-out;
}

@media screen and (max-width: 600px) {
  .nouvelle__card-list {
    grid-template-columns: 1fr;
    transform: translateX(10%);
  }
}
.top-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
}

.middle-up-row {
  font-size: 1em;
}

.middle-down-row {
  font-size: 0.7em;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
}

.icone {
  width: 1.5em;
  position: relative;
  top: 5px;
}

.un:hover {
  background-color: #e7c762;
}

.deux:hover {
  background-color: #e7c762;
}

.trois:hover {
  background-color: #e7c762;
}

.quattre:hover {
  background-color: #e7c762;
}

.nouvelle__afficher-plus {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
.nouvelle__afficher-plus a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nouvelle__afficher-plus p {
  margin: 5px auto;
  text-align: center;
  color: #F5EDD8;
  text-decoration: underline;
}
.nouvelle__afficher-plus p:hover {
  color: #E7C762;
}

/* filter bar styles */
.nouvelles__filter-bar {
  background-color: #354e38;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 15px;
}

.filter-dropdown {
  margin-right: 10px;
}

/* ----------------- SECTION detail de nouvelle ---------------------- */
* {
  box-sizing: border-box;
}

body {
  background-color: #354E38;
}

.nouvelle-individuel__container {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 1311px;
}

/* style pour le hero de details de nouvelles*/
.nouvelle-individuel__hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url();
  background-color: #E7C762;
  border-radius: 18px;
  padding: 10px 25px;
  color: #354E38;
  background-image: url(/assets/img/hero_picturedetail_nouvelle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nouvelle-individuel__hero-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nouvelle-individuel__hero-middle {
  display: flex;
  width: 100%;
}

.nouvelle-individuel__title {
  font-weight: bold;
  font-size: 65px;
}

.nouvelle-individuel__hero-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/*styles pour la section info de details de nouvelles */
.nouvelles-individuel__info {
  display: flex;
  margin-top: 15px;
  width: 100%;
  align-self: center;
}

.nouvelle-individuel__info-title {
  font-size: 25px;
  background-color: #E7C762;
  border-radius: 18px;
  color: #354E38;
  padding: 10px 55px 10px 25px;
  width: 80%;
  min-width: 523px;
}
.nouvelle-individuel__info-title h2 {
  font-weight: bold;
}

.nouvelle-individuel__info-description {
  font-size: 15px;
}

/* style pour le side bar d'info des detail de nouvelles*/
.nouvelle-individuel__side-info {
  transform: translateX(-15%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #354E38;
  margin-left: 20px;
  min-width: 250px;
}
.nouvelle-individuel__side-info h3 {
  font-weight: bold;
}

.nouvelles-individuel__top-card {
  padding: 15px;
  border-radius: 18px;
  background-color: #F5EDD8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nouvelles-individuel__middle-card {
  padding: 15px;
  border-radius: 18px;
  background-color: #F5EDD8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nouvelles-individuel__bottom-card {
  padding: 15px;
  border-radius: 18px;
  background-color: #F5EDD8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nouvelles-individuel__info-card-left {
  display: flex;
  flex-direction: column;
}

.svg__clock {
  width: 50px;
}

.svg__position {
  width: 50px;
}

.svg__formateur {
  width: 50px;
}

/* ----------------- SECTION index TÉMOIGNAGE ---------------------- */
.testimonials {
  margin-bottom: 40vh;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px 7px 0px #182c1a;
  background: linear-gradient(to bottom, #8d3126 70px, transparent 0%);
}

.temoignage {
  text-align: center;
  box-sizing: border-box;
}
.temoignage__card {
  position: relative;
  width: 100%;
  background-color: #F5EDD8;
  box-shadow: 5px 5px 10px 0px #383838;
  border-radius: 20px;
  transition: 0.3s;
  border: 1px solid #F5EDD8;
}
.temoignage__card:hover {
  background-color: #E7C762;
  transform: scale(1.02);
  transition: 0.3s;
}
.temoignage__texte {
  font-weight: 200;
  font-size: 20px;
  color: #000;
}
.temoignage__description {
  font-size: 20px;
  color: #8D3126 !important;
  font-weight: 200;
  text-align: left;
}
.temoignage__nom {
  text-align: left;
  font-family: "rubik";
  color: #8D3126;
}
.temoignage__quote {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 50px;
  color: #E7C762;
}
.temoignage__personne {
  margin: 0px;
  border-radius: 20px;
}
.temoignage__image {
  border-radius: 20px 20px 0px 0px;
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.section-testimonials .card {
  background-color: #F5EDD8;
  border-radius: 20px;
  transition: 0.3s;
}

/* ---------------------- SECTION DON --------------------------- */
.section_donation {
  position: relative;
}

.donation {
  margin-bottom: 40vh;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px 7px 0px #182c1a;
  background: linear-gradient(to bottom, #8d3126 70px, #F5EDD8 0%);
}
.donation__column h2 {
  font-family: "rubik";
  color: #354e38;
  font-weight: 600;
}
.donation__column p {
  font-family: "rubik";
  color: #8D3126 !important;
}
.donation__button a {
  background-color: #E7C762;
  color: #F5EDD8;
  text-align: center;
  display: flex;
  justify-content: center !important;
  align-self: center !important;
  align-items: center !important;
  align-content: center !important;
  max-width: 120px;
}

/* ----------------- SECTION PAGE SERVICE ----------------------- */
.section__services {
  width: 100%;
  background-color: #354e38;
  margin-bottom: 40vh;
}

.services {
  text-align: center;
  background: linear-gradient(to bottom, #8D3126 70px, transparent 0%);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px 7px 0px #182c1a;
}
.services____container {
  color: #000;
  font-family: "rubik";
  width: 90%;
  width: 100%;
  height: 100%;
}
.services__logo {
  background-color: #E7C762;
  width: 80px;
  padding: 15px;
  border-radius: 40%;
}
.services__container p {
  text-align: center;
  color: white;
}

/*Changer la classe ici pour autre chose*/
.section__services2 {
  display: grid;
  gap: 10px;
  border-color: #e7c762;
  border-width: 10px;
  border-style: double;
  border-radius: 2%;
  background: rgb(35, 49, 14);
  background: linear-gradient(90deg, rgb(35, 49, 14) 0%, rgba(0, 66, 15, 0.3393558107) 100%);
}

.service__card__img {
  object-fit: fill;
}

.service__all_cards {
  text-align: center;
  border-radius: 10%;
}

.service__card__body {
  text-align: center;
  color: #001a03;
  background-color: #182c1a;
}

.service__card {
  text-align: center;
  box-shadow: 20px #383838;
}

.service__card__title {
  color: #E7C762;
  border-color: #001a03;
  font-family: "rubik";
}

.service__card__text {
  color: #F5EDD8;
  font-family: "rubik";
}

.service__btn {
  color: #E7C762;
  background-color: #354e38;
  border: none;
}

.service__btn:hover {
  color: #354e38;
  background-color: #E7C762;
}

.service_acueil {
  color: #E7C762;
  background: rgb(121, 9, 9);
  background: radial-gradient(circle, rgba(121, 9, 9, 0.3085434858) 0%, rgba(0, 66, 15, 0.3393558107) 100%);
  border-radius: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "rubik";
  font-weight: bold;
  padding: 60px;
  position: relative;
  display: block;
  top: 40px;
  width: 100vw;
  height: 40hv;
}

.service_acueil h1 {
  font-family: "rubik";
  font-weight: bold;
  color: #F5EDD8;
  font-size: 40px;
}

/* ----------------- SECTION PAGE HISTOIRE ---------------------- */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    width: 100%;
  }
}
.timeline {
  display: block;
  position: relative;
  left: -40%;
  top: 100px;
  width: 2px;
  background: rgba(255, 255, 255, 0);
  margin: 20px auto;
  height: 100%;
}
.timeline .events {
  position: relative;
  top: 0;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.timeline .events .event {
  position: relative;
  width: 80vw;
  display: block;
  opacity: 0;
  padding: 10px;
  background-image: linear-gradient(to bottom right, #F5EDD8, #354e38, #354e38, #354e38, #354e38);
  border: 5px solid #F5EDD8;
  border-radius: 5px;
  margin: 30px 10px;
  box-shadow: 30px 30px 6px rgba(255, 255, 255, 0.219);
}
.timeline .events .event_titre {
  color: #354e38;
}
.timeline .events .event_texte {
  color: #F5EDD8;
}
.timeline .events .event_image {
  width: 60vw;
  position: absolute;
  bottom: 25px;
  right: 50px;
}

.line {
  width: 5px;
  height: 0;
  background-color: #F5EDD8;
  position: fixed;
  top: 100px;
  left: 5%;
  transition: height 0.3s;
}

.histoire__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/histoire/paysage_histoire.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* ----------------- SECTION PAGE EQUIPE ------------------------ */
.equipe__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/equipe/hero_equipe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.equipe__title {
  display: block;
  position: relative;
  top: 20px;
  color: #F5EDD8;
  font-family: "rubik";
  font-weight: bold;
}
.equipe_card {
  background-color: #F5EDD8;
  padding: 5px;
}
.equipe_card:hover {
  background-color: #E7C762;
}
.equipe_img {
  border: 10px solid #354e38;
  border-radius: 0%;
  padding: 10px;
}

a.equipe_href {
  text-decoration: none;
  border-radius: 15px;
  color: #354e38;
}

.equipe_modal {
  background-color: #354e38;
}
.equipe_modal_img_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.equipe_modal_img {
  width: 100%;
  max-width: 50vw;
  border-radius: 40%;
}
.equipe_modal_titre {
  color: #E7C762;
}
.equipe_modal_texte {
  color: #E7C762;
}
.equipe_modal_bouton {
  color: #F5EDD8;
  background-color: #E5A484;
}
.equipe_modal_bouton:hover {
  color: #E5A484;
  background-color: #F5EDD8;
}

/* ----------------- SECTION PAGE PROPOS ------------------------ */
.propos__section {
  background-color: #354e38;
}
.propos__title {
  display: block;
  position: relative;
  top: 40px;
  color: #F5EDD8;
  font-family: "rubik";
  font-weight: bold;
}
.propos__text {
  color: #8D3126;
  font-family: "rubik";
}

div.accordion-item {
  color: #F5EDD8;
  background-color: #354e38;
}

.accordion {
  position: relative;
}
.accordion-button {
  color: #8D3126 !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(141 49 38 / 42%);
  background-color: #E7C762;
}

.accordion-button:not(.collapsed) {
  background-color: #E7C762;
}

.propos__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/a_propos/hero_fleurs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.propos_card {
  background-color: #E7C762;
  width: 40vw;
}

.apropos_section {
  background-color: #354e38;
  border: 5px solid #E7C762;
  border-radius: 15px;
}
.apropos_section_titre {
  color: #E7C762;
}
.apropos_section_texte {
  color: #F5EDD8;
}

/*---------------------------PAGE ERREUR 404---------------------- */
.contenu_erreur {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.erreur__hero {
  width: 100vw;
  height: 40vh;
  background-image: url(../sources/medias/erreur_404/montagne_vide_erreur.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.erreur.body {
  height: 100%;
}

.message-erreur {
  width: 77vw;
  position: relative;
  top: 100px;
  display: flex-wrap;
  align-items: center;
  justify-content: center;
}

.erreur-titre {
  color: #E7C762;
  font-weight: bolder;
  text-transform: uppercase;
}

.erreur-description {
  color: #F5EDD8;
}

@media screen and (max-width: 375px) {
  .fleche {
    width: 300px;
    z-index: 1;
  }
  .fleche.rouge {
    position: absolute;
    top: 3vh;
    left: -8vw;
  }
  .fleche.jaune {
    position: absolute;
    top: 3vh;
    left: -10vw;
  }
  .fleche.vert {
    position: absolute;
    top: 3vh;
    left: -12vw;
  }
}
@media screen and (min-width: 376px) {
  .fleche {
    width: 300px;
    z-index: 1;
  }
  .fleche.rouge {
    position: absolute;
    top: 2vh;
    left: -6vw;
  }
  .fleche.jaune {
    position: absolute;
    top: 2vh;
    left: -5vw;
  }
  .fleche.vert {
    position: absolute;
    top: 2vh;
    left: -7vw;
  }
}
@media screen and (min-width: 1200px) {
  .fleche {
    width: 300px;
    z-index: 1;
  }
  .fleche.rouge {
    position: absolute;
    top: 0vh;
    left: -4vw;
  }
  .fleche.jaune {
    position: absolute;
    top: 0vh;
    left: -3vw;
  }
  .fleche.vert {
    position: absolute;
    top: 0vh;
    left: -2vw;
  }
}
/*-----------------------Footer----------------------------------*/
.section__footer {
  width: 100%;
  position: relative;
}

.grid {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
}

.logo-block {
  width: 300px;
  height: 300px;
  margin: 15px;
  background-color: #354e38;
  order: 0;
}

.date-block {
  background-color: #354e38;
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  order: 2;
}

.nomequipe {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.credit-block {
  width: 300px;
  height: 300px;
  background: #8D3126;
  background: linear-gradient(0deg, #354e38 0%, #E7C762 0%, #8D3126 72%);
  margin: 15px;
  font-weight: bold;
  text-align: center;
  background-image: url("https://i.imgur.com/YqnzhVK.png");
  background-position: center;
  background-size: cover;
  order: 1;
}

.lelogo {
  width: 300px;
  position: absolute;
  object-fit: cover;
}

footer {
  border: 5px solid #E7C762;
  border-bottom: none;
  border-radius: 15px;
  bottom: 0px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #354e38;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: #E7C762;
}

.section {
  color: #F5EDD8;
  font-weight: 100;
}

.section__icon {
  font-size: 20px;
}

.footer__btn {
  position: relative;
  border: 2px solid #E7C762;
  background-color: #E7C762;
  color: white;
  font-size: 40px;
  aspect-ratio: 16/1;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
.footer__btn:hover {
  border: 2px solid #E7C762;
  background-color: #354e38;
}
.footer__btn i {
  width: 100%;
}

.sociaux {
  width: 100%;
}

.adresse {
  color: #F5EDD8;
  text-decoration: none;
}
.adresse:hover {
  color: white;
}

.telephone {
  color: #F5EDD8;
}

.reseaux_footer {
  color: #E7C762;
  margin: 5px;
  text-decoration: none;
}
.reseaux_footer:hover {
  color: white;
}

.footer__logo {
  width: 100%;
}

.footer_sous_texte {
  color: #E7C762;
}
.footer_sous_texte:hover {
  color: white;
}

.credit {
  position: relative;
  color: white !important;
}

.sponsor-colonne {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0;
  padding: 0;
}

.ligne-design {
  background-color: #8D3126;
  width: 80vw;
  height: 0.1vh;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
}

.sponsor {
  filter: opacity(0.8);
  transition: 200ms linear;
}
.sponsor:hover {
  transform: scale(2);
  filter: opacity(1);
}

@media only screen and (max-width: 650px) {
  .logo-block {
    width: 300px;
    height: 300px;
    margin: 15px;
    background-color: #354e38;
    order: 0;
  }
  .date-block {
    background-color: #F5EDD8;
    width: 300px;
    height: fit-content;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    order: 1;
  }
  .credit-block {
    width: 300px;
    height: fit-content;
    background: #8d3126;
    background: linear-gradient(0deg, #8D3126 0%, #E7C762 0%, #8D3126 72%);
    margin: 15px;
    font-weight: bold;
    text-align: center;
    background-image: url("https://i.imgur.com/YqnzhVK.png");
    background-position: center;
    background-size: cover;
    order: 2;
  }
  .grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */