/* ----------------- SECTION PAGE ACCUEIL ----------------------- */
html{
  height: 100%;
}
body {
  background-color: #354E38;
  font-family: system-ui;
  font-size: 15px;
  height: 100%;
}

main{
  height: 100%;
}

.logo {
  max-width: 80px;
}

.grid {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
}

.logo-block {
  width: 300px;
  height: 300px;
  margin: 15px;
  background-color: #ffffff;
  order: 0;
}

.date-block {
  background-color: #8D3126;
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  order: 2;
}

.nomequipe {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.credit-block {
  width: 300px;
  height: 300px;
  background: #8d3126;
  background: linear-gradient(0deg, #8d3126 0%, #e7c762 0%, #8d3126 72%);
  margin: 15px;
  font-weight: bold;
  text-align: center;
  background-image: url("https://i.imgur.com/YqnzhVK.png");
  background-position: center;
  background-size: cover;
  order: 1;
}

.lelogo {
  width: 300px;
  position: absolute;
  object-fit: cover;
}

@media only screen and (max-width: 650px) {
  .logo-block {
    width: 300px;
    height: 300px;
    margin: 15px;
    background-color: #ffffff;
    order: 0;
  }

  .date-block {
    background-color: #8D3126;
    width: 300px;
    height: fit-content;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    order: 1;
  }

  .credit-block {
    width: 300px;
    height: fit-content;
    background: #8d3126;
    background: linear-gradient(0deg, #8d3126 0%, #e7c762 0%, #8d3126 72%);
    margin: 15px;
    font-weight: bold;
    text-align: center;
    background-image: url("https://i.imgur.com/YqnzhVK.png");
    background-position: center;
    background-size: cover;
    order: 2;
  }

  .grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

footer{
  background-color: none;
  border: 5px solid #e7c762;
  border-bottom: none;
  border-radius: 15px;
  bottom: 0px;
  position: relative;
  
}

.section {
  color: #f5edd8;
  font-weight: 100;
}

.adresse {
  color: #e2c15f;
  text-decoration: none;
}

.adresse:hover {
  color: #f5edd8;
}

.telephone{
  color:#e2c15f;
}

.logo.footer{
  width:100px;
}

.reseaux_footer{
  color: #e7c762;
  margin:5px;
  text-decoration: none;
}

.reseaux_footer:hover{
  color: #f5edd8;
}

.footer_sous_texte{
  color: #e7c762;
}

.footer_sous_texte:hover{
  color: #f5edd8;
}

.credit{
  position: absolute;
  color: #f5edd8 !important;
  bottom:0;
  right:5vw;
}

.sponsor-colonne{
width:100%;
display: flex;
flex-wrap: wrap;
align-content: space-between;
margin:0;
padding:0;
}


.ligne-design{
  background-color: #f5edd8;
  width:80vw;
  height:0.1vh;
  margin:25px;
  margin-left:auto;
  margin-right: auto;
}

.sponsor{
  filter: blur(1px);
}

.sponsor:hover{
  filter: blur(0px);
}






/* ----------------- SECTION PAGE NOUVELLE ---------------------- */

/* ----------------- SECTION PAGE SERVICE ----------------------- */

/* ----------------- SECTION PAGE EQUIPE ------------------------ */

/* ----------------- SECTION PAGE HISTOIRE ---------------------- */

/* ----------------- SECTION PAGE PROPOS ------------------------ */

/*---------------------------PAGE ERREUR 404---------------------- */
.contenu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.message-erreur{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 50%;
  width: 50%;
  flex-direction: column;

}
.erreur-titre{
  display: flex;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
}
.erreur-description{
  display: flex;
  color: #fff;
  font-size: 1rem;
}